
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  padding: 2.25em 1.75em;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 1.5em;
}

.link {
  color: #0880AE;
  text-decoration: none;
}

.header {
  margin-bottom: 1.5em;
  &__title {
    font-size: 2.25em;
    margin-bottom: 0.15em;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.input, .input__label, .input__error {
  margin-bottom: 0.5em;
}
.input {
  font-size: 1em;
  text-align: left;
  padding: 1em;
  outline: none;
  border-radius: .4em;
  border: 1px solid #DBE2EA;
  color: #7C9CBF;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  transition: .2s;
  &::placeholder {
    color: #7C9CBF;
  }
  &:focus {
    border: 1px solid #0880AE;
    color: inherit
  }
  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  &__label {
    color: #756F86;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }
  &__error {
    font-size: .9em;
    height: 1.25em;
    color: #FF7171;
  }
}

.button {
  font-size: 1em;
  font-weight: 600;
  padding: 1em;
  color: #EBF4F8;
  background-color: #0880AE;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.08), 0px 24px 48px rgba(44, 39, 56, 0.16);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  user-select: none;
  &.disabled {
    pointer-events: none;
    background-color: #DBE2EA;
    color: rgba(#2C2738, .5);
  }
}