

.wrapper {
  composes: input__wrapper from './../Main/Main.module.scss'
}
.input {
  composes: input from './../Main/Main.module.scss'
}
.label {
  composes: input__label from './../Main/Main.module.scss'
}
.error {
  composes: input__error from './../Main/Main.module.scss'
}