

.wrapper {
  composes: input__wrapper from './../../pages/Main/Main.module.scss'
}
.input {
  composes: input from './../../pages/Main/Main.module.scss'
}
.label {
  composes: input__label from './../../pages/Main/Main.module.scss'
}
.error {
  composes: input__error from './../../pages/Main/Main.module.scss'
}